#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
clean:
	echo "No clean please"
	echo "Work-Dir=$(PWD)"
	git config --global --add safe.directory /var/cache/elbe/
distclean:
	echo "NO distclean"
override_dh_clean:
	echo "Skipping clean"
override_dh_distclean:
	echo "Skipping distclean"
override_dh_configure:
	echo "tEst"
	make stm32mp157a-dk1_defconfig
%:
	dh $@  

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo
